@import '../common/var.scss';

.jv-nav-bar {
    height: .44rem;
    position: relative;
    user-select: none;
    text-align: center;
    line-height: .44rem;
    background-color: $white;

    .jv-icon {
        color: $blue;
        vertical-align: middle;
    }

    &__arrow {
        transform: rotate(180deg);

        + .jv-nav-bar__text {
            margin-left: -.2rem;
            padding-left: .25rem;
        }
    }

    &--fixed {
        top: 0;
        left: 0;
        width: 100%;
        position: fixed;
    }

    &__title {
        font-size: 16px;
    }

    &__left,
    &__right {
        bottom: 0;
        font-size: 14px;
        position: absolute;
    }

    &__left {
        left: .15rem;
    }

    &__right {
        right: .15rem;
    }

    &__text {
        color: $blue;
        margin: 0 -.15rem;
        padding: 0 .15rem;
        display: inline-block;
        vertical-align: middle;

        &:active {
            background-color: $active-color;
        }
    }
}
