@import '../common/var.scss';

$jv-tabs-line-height: .44rem;
$jv-tabs-card-height: .3rem;

.jv-tabs {
    position: relative;

    &__wrap {
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        overflow: hidden;
        position: absolute;

        &--page-top {
            position: fixed;
        }

        &--content-bottom {
            top: auto;
            bottom: 0;
        }
    }

    &__nav {
        display: flex;
        user-select: none;
        position: relative;
        background-color: $white;

        &--line {
            height: 100%;
            padding-bottom: .15rem; /* 15px padding to hide scrollbar in mobile safari */
            box-sizing: content-box;
        }

        &--card {
            margin: 0 .15rem;
            border-radius: 0.2rem;
            box-sizing: border-box;
            height: $jv-tabs-card-height;
            border: 1px solid $gray-darker;

            .jv-tab {
                color: $gray-darker;
                border-right: 1px solid $gray-darker;
                line-height: .28rem;

                &:last-child {
                    border-right: none;
                }

                &.jv-tab--active {
                    color: $white;
                    background-color: $gray-darker;
                }
            }
        }
    }

    &__nav-bar {
        z-index: 1;
        left: 0;
        bottom: .15rem;
        height: .2rem;
        position: absolute;
    }

    &--scrollable {
        .jv-tab {
            flex: 0 0 22%;
        }

        .jv-tabs__nav {
            overflow: hidden;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &--line {
        padding-top: $jv-tabs-line-height;

        .jv-tabs__wrap {
            height: $jv-tabs-line-height;
        }
    }

    &--card {
        padding-top: $jv-tabs-card-height;

        .jv-tabs__wrap {
            height: $jv-tabs-card-height;
        }
    }
}

.jv-tab {
    flex: 1;
    cursor: pointer;
    padding: 0 .05rem;
    font-size: 14px;
    position: relative;
    color: $text-color;
    line-height: $jv-tabs-line-height;
    text-align: center;
    box-sizing: border-box;
    background-color: $white;
    min-width: 0; /* hack for flex ellipsis */

    span {
        display: block;
        font-size: 14px;
        color: #333;
    }

    &:active {
        background-color: $active-color;
    }

    &--active {
        font-size: 14px;
        color: #EE3D3D;
    }

    &--disabled {
        color: $gray;

        &:active {
            background-color: $white;
        }
    }

    &__pane {
        display: none;

        &--select {
            display: block;
        }
    }
}
